<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Fruit</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/jquery-3.5.1.min.js"></script>
    <style>
        #warning {
            color: #0610FB;
            font: Montserrat;
            bold: 700;
            font-size: 17vh;
        }
        #page_title {
            font-size: 10vh;
            color: #0610FB;
        }
    </style>
</head>
<body>
{% if user.is_authenticated %}
    {% csrf_token %}
    <section class="text-center container-fluid">
        <section class="row">
            <section class="col-md-12">
                <h3 id="page_title">Pick A Fruit</h3>
            </section>
        </section>
    </section>
    <br/>
    <section class="text-center container-fluid">
        <section class="row">
            <section class="col-md-3 fruit"><a href="{% url 'pickchallenge'%}" id="green_apple"><img src="/static/fruit/green_apple.webp" width="300" height="300"></a></section>
            <section class="col-md-3 fruit"><a href="{% url 'pickchallenge'%}" id="red_apple"><img src="/static/fruit/red_apple.webp" width="300" height="300"></a></section>
            <section class="col-md-3 fruit"><a href="{% url 'pickchallenge'%}" id="pinapple"><img src="/static/fruit/pinapple.webp" width="300" height="300"></a></section>
            <section class="col-md-3 fruit"><a href="{% url 'pickchallenge'%}" id="orange"><img src="/static/fruit/orange.webp" width="300" height="300"></a></section>
        </section>
        <section class="row">
            <section class="col-md-3 fruit"><a href="{% url 'pickchallenge'%}" id="pumpkin"><img src="/static/fruit/pumpkin.webp" width="300" height="300"></a></section>
            <section class="col-md-3 fruit"><a href="{% url 'pickchallenge'%}" id="watermelon"><img src="/static/fruit/watermelon.webp" width="300" height="300"></a></section>
            <section class="col-md-3 fruit"><a href="{% url 'pickchallenge'%}" id="mango"><img src="/static/fruit/mango.png" width="300" height="300"></a></section>
            <section class="col-md-3 fruit"><a href="{% url 'pickchallenge'%}" id="strawberry"><img src="/static/fruit/strawberry.jpg" width="300" height="300"></a></section>
        </section>
    </section>
{% else %}
    <p id="warning">You must be logged in to continue playing the game. Sign in <a href="../login">here.</a></p>
{% endif %}
<section>
</section>
	<script>

		(function($) {
			
			$('.fruit').on('click', function() {
				
				fetch('/setfruit/',{
					method: 'POST',
					headers:{
						'Content-Type': 'application/json'
					},
					body:JSON.stringify({
						fruit:this.children[0].children[0].getAttribute("src")
					})

				}).then(res=>res.json()).then(res=>{
					console.log(res);
				}).catch(e=>{
					console.error(e)
				});

			});
		})(jQuery);
	</script>
</body>
</html>
